{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="row" style="padding-top : 30px;padding-bottom : 10px">
        <div class="col-6 offset-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h1>Mon compte</h1>

                    {# <p>Bonjour {{ app.user.email }} !</p>
                    <p>Bonjour {{ user.email }} !</p> #}
                    {{ form_start(myAccountForm) }}
                    {{ form_row(myAccountForm.fullName, {
                            label: "Nom"
                        }) }}

                        {{ form_row(myAccountForm.username, {
                            label: "Pseudo"
                        }) }}
                       
                        {{ form_row(myAccountForm.email, {
                            label: 'Adresse email'
                        }) }}

                        <a href="/reset-password">Changer le mot de passe</a><br/><br/>

                        <button type="submit" class="btn btn-primary">Enregistrer</button>

                    {{ form_end(myAccountForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

