{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

<style>
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
</style>
<div class="row" style="padding-top : 30px;padding-bottom : 10px">
    <div class="col-6 offset-3">
        <div class="card bg-light">
            <div class="card-body">
                <h1>Connexion</h1>
                <hr/>
                    <form action="{{ path('security_login') }}" method="post">
                        <fieldset>
                            {# <legend><i class="fa fa-lock" aria-hidden="true"></i>Connexion sécurisée</legend> #}
                            <div class="form-group">
                                <label for="username">Pseudo</label>
                                <input type="text" id="username" name="username" value="{{ last_username }}" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" name="password" class="form-control" />
                            </div>
                            <a href="/reset-password">Mot de passe oublié ?</a><br/>
                            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <br/>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>Se Connecter
                            </button>
                        </fieldset>
                    </form>
                <br/>
                <p>Pas encore membre ? <a href="{{ path('app_register') }}">Créer un compte</a></p>
            </div>
        </div>
    </div>
</div>  
{% endblock %}